* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

#header {
    background-color: lightgray;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid;
}

.row {
    padding: 20px;
    border: 2px solid green;
}

/* Pseudo Elements - ::after and ::before */
.row::after {
    content: "";
    clear: both;
    /* because ::after element is inline and it don't have any height/width */
    display: block;
}

.col {
    padding: 15px 0px;
}

.col-1 {
    background-color: lightcoral;
    border: 2px solid blue;
    width: 40%;
    float: left;
}

.col-2 {
    background-color: antiquewhite;
    border: 2px solid blueviolet;
    width: 40%;
    float: right;
}

img {
    width: 100%;
}

.col-11 {
    float: left;
    width: 30%;
}
.col-22 {
    float: left;
    width: 40%;
    padding: 10px;
    margin-left: 1.5%;
    background-color: lightgray;
}
.col-33 {
    float: right;
    width: 25%;
}

#footer {
    background-color: lightgreen;
    padding: 20px 0px;
    border: 2px solid red;
}